rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /master/{file} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /records/{allPaths=**} {
      allow read:   if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
